@import url('https://fonts.googleapis.com/css?family=Poppins');


body {
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    margin: 0px;
    max-width: 100vw;
    scroll-behavior: smooth;
    overflow-x: hidden;
}


.header {
    display: flex;
    justify-content: space-between;
    padding: 120px 80px;
}

.header ul {
    display: flex;
    list-style: none;
    gap: 12px;
    padding: 0;
    margin: 0;
}

.body {
    text-align: center;
}
